<div id="<%= dom_id friend %>">
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.user_id %></td>
      
          <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
          <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
</div>